/**** CSS Reset ****/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/*ol, ul {
	list-style: none;
}*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**** all ****/
body {
	font-family: sans-serif;
	color: #333;
	line-height: 1.2;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #a61919;
	cursor: pointer;
}

a:hover {
	color: #54181d;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	display: block;
} 

h1 {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin-bottom: 1.33em;
	margin-top: 1em;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

p {
	margin-bottom: 10px;
}

strong, b {
	font-weight: bold;
}

main h1 {
	text-shadow: none;
}

/**** header ****/
nav {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

header {
	background-image: url("../img/bgimg.png");
	background-repeat: no-repeat;
	background-origin: center;
	background-size: cover;
	color: white;
	margin-top: 0;
}

header ul {
	display: inline-block;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 10px;
	/*border: 1px solid rgba(0, 0, 0, 0.9);*/
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
}

header h1 {
	text-align: center;
	margin: 0;
	padding-top: 1em;
	padding-bottom: 0.3em;
}

header p {
	text-align: center;
	font-size: 0.9em;
}

header li {
	float: left;
	padding: 10px 15px 10px 15px;
	margin: 0 5px 0 5px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

header li:first-child {
	margin-left: 0;
}

header li:nth-child(7) {
	margin-right: 0;
}

header a {
	color: inherit;
	font-weight: inherit;
}

header a:hover {
	color: inherit;
	text-decoration: underline;
	//font-weight: bold;
}

#menu-button {
	display: none;
}

li.lastSelected,
header li:hover {
	background-color: red;
	border-radius: 10px;
}

.menuIcon {
	width: 18px;
	height: 2px;
	background-color: white;
	display: block;
	margin-top: 3px;
	border-radius: 1px 1px 1px 1px;
}

/**** content ****/

/* general content */
main {
	margin-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

article {
	display: block;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
}

.hidden {
	visibility: hidden;
	opacity: 0;
	height: 0;
	transition: visibility 1s, opacity 1s, height 1s linear;
}

.visible {
	visibility: visible;
	opacity: 1;
	height: auto;
	transition: visibility 1s, opacity 1s, height 1s linear;
}

/* programm */

table {
	width: 100%;
}

td {
	width: 50%;
	border: 1px dashed black;
	padding: 2%;
}

@media screen and (max-width: 710px) {
	td {
		display: block;
		width: auto;
	}
}

/* formular */
form p {
	margin-bottom: 5px;
}

input,
textarea {
    background-color: rgba(255, 0, 0, 0.1);
    border: none;
    border-bottom: 1px solid #eee; /* damit nicht das ganze Dokument nach unten verschoben wird, wenn durch :focus ein Border hinzugefügt wird */
    border-radius: 3px;
    font-size: 16px;
    margin: 7px 0 20px;
    padding: 7px; /* das sorgt in Kombination mit input[type=text] {width:100%;} für breiteres Fenster als 100%. Blöd bei de mobilen Ansicht. */
}

input:focus,
textarea:focus{
	background-color: white;
	border-radius: 0px;
	outline: none;
}

input[type=text] {
    width: 100%;
}

input[type=text]:focus {
	border-bottom: 1px solid black;
}

textarea:focus {
	border-left: 1px solid black
}

input[type=checkbox],
input[type=radio] {
    display: inline;
    margin-right: 5px;
    margin-bottom: 5px;
}

textarea {
    height: 100px;
    resize: vertical;
    width: 100%;
    font-family: inherit;
}

input[type=submit] {
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #ddd;
	width: 100%;
	border: 1px solid #ddd;
}

input[type=submit]:hover {
	background-color: #aaa;
	border: 1px solid black;
	cursor: pointer;
}

.alert-success {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 30px 20px;
}

.buttonNextToInputTable td {
	border: 0;
}

.buttonNextToInputTable td:first-child {
	padding-left: 0;
	padding-top: 0;
}

.buttonNextToInputTable td:last-child {
	width: 1%;
	white-space: nowrap;
}


/**** menu mobile ****/
@media screen and (max-width: 820px) {

	header ul.responsive li:not(:first-child) {
		display: none;
	}

	header ul li:first-child {
		display: inline;
		float: left;
	}

	header #menu-button {
		display: inline-block;
	}

	header li {
		margin: 2px 0 2px 0;
	}

	header li:first-child,
	header li:nth-child(2) {
		margin: 0;
	}

	header li:last-child {
		margin-bottom: 0;
	}

	header li:nth-child(2):hover {
		background-color: black;
		margin: 0;
	}

	/* responsive is added to ul with javascript when button is pressed */

	header ul li:not(:first-child) {
		display: block;
		float: none;
	}
}

/**** Anmeldungen ****/
.anmeldungen table {
	width: 100%;
	font-size: 0.75em;
}

.anmeldungen th {
	font-weight: bold;
	border-bottom: 1px dotted black;
}

.anmeldungen td {
	padding: 2px 5px 2px 5px;
	border: 0;
	width: 1px;
}

.bgHighlight {
	background-color: #ddd;
}

.tagesAnsicht {
	cursor: pointer;
	background-color: #ddd;
	padding: 4px;
	border-radius: 3px;
}

.contentTagesAnsicht {
	display: none;
}

